.MuiMenu-list{
    background-color: #3C3D37;
}
.css-153gm7s-MuiPaper-root-MuiDrawer-paper{
    position: relative !important;
    background-color: #3C3D37 !important;
}
.listButton{
    padding-right: 0px !important;
}